.pokemonButton {
  background-color: red;
  font-size: larger;
  color: white;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.pokemonButton:hover {
  cursor: pointer;
  opacity: 0.8;
}

.pokemon-list {
  list-style-type: none;
}